@import '../../../scss/_mixins.scss';
.editor-content {
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.3));
    background-color: #011627;
    border-radius: 10px;
    color: #fff;
    div {
        font-family: sans-serif !important;
    }
    textarea {
        outline: none;
    }
}
